.premier{
   color: gold;
   text-align: center;
   background-color: black;
   background-repeat: repeat;
   font-size: 500%;
   margin-top: -3%;
   margin-left: -3%;
   margin-right: -3%;
}
h1{
   background-color: black;
}
.da{
   color: gold;
   text-align: justify; 
   background-color: black;
   font-size: 300%
}
body{
   background-image: url(world2025.webp);
   background-repeat: no-repeat;
   background-color: rgb(41, 41, 41);
   margin-top: 3%;

}