/* - ESTILOS GENERALES - */

body{
    background-color: #0F1923;
    color: white;
    
}

.top-bar {
    position: relative;
    background-color: #0F1923;
    padding: 15px;
    text-align: center;
}

.logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
}

.title {
    color: #FF4655; /* color de Valorant */
    font-size: 40px;
    margin: 0;
    letter-spacing: 3px;
}


.hero h2 {
    color: black;
}

/* -- HERO  - */

.hero {
    background-image: url(img/fondo\ valorant.jpg); /*--image de fond--*/
    background-position: center;  /*--position*/
    background-size: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 20px;
    text-align: center;
}

.hero h2 {
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 32px;
    color: #FF4655;
}

/* ----- SECCIÓN COMPETENCIAS ----- */

.competencias {
    padding: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.card {
    background-color: #1F2326;
    border-left: 5px solid #FF4655;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    background-color: #292d31;
    transform: scale(1.02);
}

.card h3 {
    color: #FF4655;
    margin-top: 0;
}
.meilleures-équipes{
    background-image: url(img/valorant-envahit-le-monde-des-consoles-de-salon-le-14-juin-2024-ps5-xbox-series.jpg); 
    background-position: center;
    background-size: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 20px;
    text-align: center;
}
.meilleures-équipes h2 {
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 32px;
    color: #be2e3a;
   

}

.ranking{
    padding: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

