body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(150deg, #1F2326 );
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
    width: 400px;
    color: #0f1923; /* color de Valorant */
    background: #FF4655;
    

}