.premier{
    color: rgb(255, 217, 0); /* texte doré */
    text-align: center;

    /* Dégradé rouge → rouge foncé sans transparence */
    background: linear-gradient(
        to bottom,
        hwb(236 0% 58%), /* rouge clair en haut */
        #160a5a, /* rouge vif au milieu */
        #0d1b2a /* rouge foncé en bas */
    );

    border-radius: 15px;      /* coins arrondis */
    font-size: 5em;           /* 500% */
    margin: -1%;                 /* évite marges négatives */
    padding: 20px 0;
    box-sizing: border-box;
    font: small-caps bold 24px/1 sans-serif;
    font-size: 500%;
}
.deuxieme{
    color: rgb(219, 219, 209);   /* texte sombre pour contraster */
    text-align: justify; 
    font-size: 2em;           /* équivalent à 200% */
    padding: 20px;            /* espace autour du texte */
    
    /* Fond gold avec dégradé */
    background: linear-gradient(
        to bottom,
        #0d1b2a 0%,   /* jaune très clair en haut */
        #183350 25%,  /* jaune doré moyen */
        #2a5a8d 50%,  /* doré plus chaud */
        #337cc9 75%,  /* doré foncé */
        #3f98f8 100%  /* doré très foncé en bas */
    );
    
    border-radius: 15px;      /* coins arrondis */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* léger relief */
    margin-right: 33.6%;
    margin-top: 4%;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, #0d1b2a, #1b263b, #415a77);
    font-family: Arial, sans-serif;
    color: white;
}
.valorant_img {
    width: 650px;
    margin-left: 5%;
    border-radius: 10px;
    cursor: pointer; /* change le curseur au survol */
    transition: transform 0.2s;
    margin-left: 1%;
}

.valorant_img:hover {
    transform: scale(1.05); /* effet zoom léger au survol */
   width: 700px;
   margin-left: 1%;
}
.lol{
   text-align: end;
}
.jeu_text{
   display: flex;
   color: rgb(10, 0, 0);
   font-size: 200%;
   flex-direction:row ;
   align-content: center;
   font-feature-settings: "smcp", "zero";
   margin-bottom: -1.69%;
   margin-top: 3%;
   margin-right: 5%;
   justify-content: space-between;
}
.lol{
    background: linear-gradient(135deg, #3dff6b, #006400);
    padding: 20px;
    border-radius: 15px;
    color: white;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    margin-left: 0%;
    margin-right: -5%;
}
.valorant{
   background: linear-gradient(135deg, #ff3d3d, #800000, #000000); /* rouge vif → rouge foncé → noir */
    padding: 20px;
    border-radius: 15px;
    color: white;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3%;
}
.lol_img{
   width: 700px;
   margin-left: 10%;
   width: 700px;            /* taille de l'image */
    height: auto;            /* conserve les proportions */
    border-radius: 15px; 
}