.premier{
   color: rgb(156, 133, 2);
    text-align: center;
    background-color: rgb(221, 220, 220);
    font-size: 5em;       /* équivalent à 500% */
    margin: -3%;             /* plus sûr que margin négative */
    padding: 20px 0;       /* ajoute de l’espace autour du texte */
    box-sizing: border-box;

}
.deuxieme{
   color: rgb(24, 22, 13);
   text-align: justify; 
   font-size: 200%
}
body{
   background-image: url(world2025.webp);
   background-repeat: no-repeat;
   background-color: rgb(41, 41, 41);
   margin-top: 3%;
}
.valorant_img{
   width: 700px;
   margin-left: 0.5%;
}
.lol{
   text-align: end;
}
.jeu_text{
   display: flex;
   color: rgb(10, 0, 0);
   font-size: 200%;
   flex-direction:row ;
   align-content: center;
   font-feature-settings: "smcp", "zero";
   margin-bottom: -1.69%;
   margin-top: 6%;
   margin-right: 5%;
   justify-content: space-between;
}
.lol{
    background: linear-gradient(135deg, #3dff6b, #006400);
    padding: 20px;
    border-radius: 15px;
    color: white;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
.valorant{
   background: linear-gradient(135deg, #ff3d3d, #800000, #000000); /* rouge vif → rouge foncé → noir */
    padding: 20px;
    border-radius: 15px;
    color: white;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}